package ${packageName}.${tableName}.domain;

import ${projectName}.core.base.BaseEntity;

import lombok.*;
import io.swagger.annotations.*;
import javax.persistence.*;
import java.io.Serializable;

@Entity
@ApiModel(value = "")
@Data
@AllArgsConstructor
@NoArgsConstructor
@EqualsAndHashCode(callSuper = true)
@Builder
public class ${TableName} extends BaseEntity<${idType}> implements Serializable{
#foreach($item in $columns)
    #if(!$item.column_name.equals("create_time") &&
        !$item.column_name.equals("update_time") &&
        !$item.column_name.equals("create_by")   &&
        !$item.column_name.equals("update_by")   &&
        !$item.column_name.equals("del_tag")     &&
        !$item.column_name.equals("id"))
    @ApiModelProperty(value = "${item.desc}")
    @Column(name = "${item.column_name}")
    @Basic
    private ${item.type} ${item.columnName};
    #end
#end


}