package ${projectName}.${tableName};

import ${packageName}.${tableName}.domain.${TableName};;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;
import org.springframework.stereotype.Repository;

/**
* Created by if on 2017/11/22.
*/
@Repository
public interface ${TableName}Repository extends JpaRepository<${TableName}, ${idType}>,JpaSpecificationExecutor<${TableName}>{
}

